<div id="personSearchResultsPane" class="search-results-pane" style="@(Model.InitialState ? "display:none" : null)">
@{
    if (Model.InitialState)
    {
        <div><em>Type a search query</em></div>
    }
    else if (Model.People.Count == 0)
    {
        <div><em>No results</em></div>
    }
    else
    {
        <ul>
        @foreach (PersonApp.Models.Person person in Model.People)
        {
            <li>
                <a href=@Url.Action($"Details/{person.Id}", "Person")>
                    @person.FullName
                </a>
            </li>
        }
        </ul>
    }
}
</div>
